#main-box {
    background-color: lightgray;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
#main-box img {
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px 0 15px 10px;
}
h1 {
    text-align: center;
    margin: 30px;
    font-family: Verdana;
}